.menu {
  position: absolute;
  top: 108px;
  left: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.784);
}

.menu__items {
  display: flex;
  gap: 30px;
  padding: 40px 0 70px 120px;
}

.menu__border {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.menu__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.images__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__about {
  display: flex;
  gap: 81px;
}

.menu__about-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu__about-list li {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  list-style: none;
  cursor: pointer;
}

.menu__about-list li a {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  list-style: none;
  text-decoration: none;
}

.menu__images-news:hover,
.menu__images-livingroom:hover,
.menu__images-cleaning:hover,
.menu__images-kitchen:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
