.history {
  padding: 0 120px 250px 120px;
}

.history__heading {
  color: #4f5359;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.history__heading-first-line {
  padding-left: 450px;
  text-align: start;
}
.history__heading-second-line {
  padding-right: 450px;
  text-align: end;
}
