.services {
  background-color: #f5f5f5;
  padding: 100px 100px 200px 100px;
}

.services__title {
  color: #0f1722;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px; /* 132.5% */
  text-transform: uppercase;
  margin-bottom: 100px;
}

.services__container {
  display: flex;
  justify-content: space-between;
}

.services__container-box {
  position: relative;
  width: 550px;
  height: 428px;
  background-image: url("../../../assets/images/Home/artel-bg-6.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
  padding: 46px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.services__container-box:hover {
  transform: scale(1.05);

  .services__container-box_image {
    top: -80px;
  }
}

.services__container-box_image {
  position: absolute;
  top: 0;
  right: 10px;
  transition: 0.3s;
}

.services__container-box_title {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 112.5% */
}

.services__container-box_info {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
