.HistoryInYearsColumns {
  display: flex;
  gap: 170px;
  margin-bottom: 140px;
}

.HistoryInYearsColumns p {
  color: #0f1722;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
  margin-top: 30px;
}

.HistoryInYearsColumns-right {
  width: 50%;
  margin-top: 400px;
}
