.partners {
  padding: 160px 120px 175px 120px;
}

.partners__description {
  padding: 0 290px;
}

/******Animation*****/

.partners__description span {
  color: rgba(0, 0, 0, 0.2);
  background-clip: text;
  background-image: linear-gradient(90deg, #000000, #000000);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll__reveal linear forwards;
  animation-timeline: view();
}

.partners__description .partners__description-heading span {
  animation-range-start: cover 10vh;
  animation-range-end: cover 70vh;
}

.partners__description .partners__description-text span {
  animation-range-start: cover 42vh;
  animation-range-end: cover 90vh;
}

@keyframes scroll__reveal {
  to {
    background-size: 100% 100%;
  }
}
/******Animation*****/

.partners__description-heading {
  color: #0f1722;
  opacity: 0.5;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 120px;
}

.partners__description-text {
  color: #0f1722;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 160%; /* 38.4px */
  padding: 0 170px;
}

.partners__image {
  padding: 180px 0 140px 0;
  width: 100%;
  height: 100%;
}

.partners__image img {
  width: 100%;
  height: 100%;
}

.partners__heading-wrapper {
  padding: 0 365px;
  margin-bottom: 130px;
}

.partners__heading {
  color: #4f5359;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 110px;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
}

.partners__heading span {
  display: inline-block;
}

.partners__heading-second {
  text-align: end;
}

.partners__info {
  color: #0f1722;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 33px */
  text-transform: uppercase;
}

.partners__icons {
  padding: 0 150px;
}

.partners__main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.partners__icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
