.news {
  padding: 90px 120px;
}

.news__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.news__navbar-title {
  color: #0f1722;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news__navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 177px;
}

.news__navbar-wrapper_links {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: center;
}

.news__navbar-wrapper_links li {
  list-style: none;
  color: #0f1722;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news__navbar-wrapper_years {
  color: #0f1722;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: none;
  background-color: transparent;
  padding: 0 250px 25px 0;
  border-bottom: 1px solid #dfdfdf;
}

.news__container {
  --flexContainerGap: 30px;
  --itemsPerRow: 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: var(--flexContainerGap);
}
