.new__products {
    width: 100%;
    padding: 60px 90px;
    background: #fff;
}

.new__products-title {
    color: #0f1722;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 53px;
    /* 132.5% */
    text-transform: uppercase;
    margin-bottom: 26px;
}

.new__products-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.new__products-item {
    display: inline-block;
}

.new__products-img_wrapper {
    padding: 16px 76px;
    border-radius: 12px;
    background: #f9f9f9;
}

.news__products-img {
    width: 248px;
    height: 248px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.news__products-img img {
    width: 100%;
}

.new__products-item_description {
    color: #30363d;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin: 20px 0;
}

.new__products-item_action {
    color: #30363d;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.2px;

    width: 100%;
    padding: 16px 0;
    border-radius: 42px;
    border: 1px solid #bcbfc2;
    background: #fff;
}
