.support {
  padding: 0 120px;
  margin-bottom: 130px;
}

.support__heading {
  color: #0f1722;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 64.4px */
  margin: 150px 0 70px 0;
  text-align: center;
}

.support__container {
  width: 100%;
  border-radius: 20px;
  background: var(
    --Gradient-Artel-Official_01,
    linear-gradient(104deg, #006c41 6.1%, #057d45 48.75%, #14a167 93.11%)
  );
  padding: 120px 240px;
  display: flex;
  justify-content: space-between;
}

.support__wrapper {
  text-align: center;
}

.support__wrapper-image {
  width: 55px;
  height: 55px;
}

.support__wrapper-service {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  margin: 30px 0 20px 0;
}

.support__wrapper-phone {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 35.2px */
}
