.advantages__info {
  margin: 0 120px 215px 120px;
  background: #f9f9f9;
  border-radius: 20px;
}

.advantages__info-container {
  padding: 50px 280px 35px 190px;
  display: flex;
  justify-content: space-between;
}

.advantages__info-title {
  color: #0f1722;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.advantages__info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 227px;
  row-gap: 15px;
}

.advantages__info-list li {
  display: flex;
  gap: 5px;
  flex-direction: column;

  color: #0f1722;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.advantages__info-list li span {
  color: #4f5359;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantages__action {
  border-top: 1px solid #cecece;
  display: flex;
  justify-content: center;
  padding: 14px 0;

  display: flex;
  flex-direction: column;
}

.advantages__action-title {
  cursor: pointer;
  color: #4f5359;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.4px; /* 202.222% */
  text-decoration: none;
  text-align: center;
}

.advantages__action-description {
  padding: 20px;
  color: #4f5359;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8;
}

.hidden {
  display: none;
}
