.catalog__links {
  padding: 0 120px;
}

.catalog__links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #e7e5ea;
  padding-bottom: 30px;
  margin-bottom: 32px;
}

.catalog__links-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.catalog__links-wrapper li {
  list-style: none;
  color: #4f5359;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catalog__links-wrapper li:nth-child(1) {
  color: #4f5359;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.catalog__links-wrapper li:nth-child(2) {
  color: #006c41;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catalog__links-search {
  display: flex;
  align-items: center;
  gap: 168px;
  padding: 16px 20px;
  border-radius: 30px;
  border: 1px solid #4f5359;
  background: #fff;
}

.catalog__links-search p {
  color: #878787;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 23.2px */
}
