.shop__item-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.shop__item-box {
  width: 253px;
  padding: 10px;
}

.shop__item-box:hover {
  .shop__item-box_image img {
    transform: scale(1.1);
  }

  .shop__item-box_button {
    color: #fff;
    background-color: #006c41;
  }
}

.shop__item-box_image img {
  transition: all 0.5s;
}

.shop__item-box_condition {
  height: 30px;
  padding: 6px 10px;
  border-radius: 20px;
  background: #e62214;
  margin-bottom: 7px;
}

.shop__item-box_condition-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shop__item-box_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.shop__item-box_description {
  color: #30363d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 158%; /* 22.12px */
  margin: 4px 0 18px 0;
}

.shop__item-box_button {
  width: 100%;
  padding: 12px 0;
  color: #006c41;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #006c41;
  transition: all 0.5s;
}
