.product {
    position: relative;
    width: 100%;
    background-image: url("../../../assets/images/Home/artel-bg-5.png");
    background-position: center;
    object-fit: cover;
    padding: 85px 0 0 165px;
    display: flex;
}

.product__info {
    width: 50%;
}

.product__image-wrapper {
    width: 45%;
}

.product__image-shadow {
    position: relative;
    width: 100%;
    padding-bottom: 123%;
}

.product__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product__info-edition_wrapper {
    width: 51%;
}

.product__info-edition {
    position: relative;
    width: 100%;
    padding-top: 60%;
}

.product__info-edition_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product__info-features_wrapper {
    width: 68%;
}

.product__info-features {
    position: relative;
    width: 100%;
    padding-bottom: 18%;
}

.product__info-features_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product__info-desc_wrapper {
    width: 66%;
}

.product__info-desc {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
}

.product__info-desc_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product__info-features_wrapper {
    margin: 15px 0;
}

.product__info-buttons {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.product__info-buttons_watch,
.product__info-buttons_more {
    padding: 15px 24px;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
}

.product__info-buttons_watch {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.product__info-buttons_more {
    color: #00482d;
    background: #fff;
}
