.navbar {
    font-family: "Styrene";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.784);
}

.menu-visible {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.784);
}

.navbar__list {
    /* position: absolute;
  top: 0;
  left: 0;
  width: 100%; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    z-index: 1000;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.navbar__logo-stick {
    width: 1px;
    height: 48px;
    opacity: 0.5;
    background: #fff;
    margin: 0 20px;
}

.navbar__logo-option {
    background-color: transparent;
    border: none;
    color: #fff;
    appearance: none;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.225px;
    /* 162.36% */
    letter-spacing: -0.405px;
}

.navbar__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 147px;
}

.navbar__contact {
    display: flex;
}

.navbar__contact-option {
    background-color: transparent;
    border: none;
    color: #fff;
    appearance: none;

    margin-left: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.216px;
    /* 162.313% */
}

.navbar__contact-phone {
    margin: 0 10px 0 30px;
}

.navbar__contact-info {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.216px;
    /* 162.313% */
}

.navbar__buttons {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar__buttons-business,
.navbar__buttons-menu {
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 37px;
    padding: 16px 30px;
    text-align: center;
    cursor: pointer;
}

.navbar__buttons-business,
.navbar__buttons-menu .navbar__buttons-menu_title {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 200% */
}

.menu__title-open {
    border: none;
    padding: 16px 17.2px;
}

.navbar__buttons-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

@media (max-width: 1290px) {
    .navbar__list {
        padding: 20px 40px;
    }

    .navbar__info {
        gap: 40px;
    }

    .navbar__contact-info {
        display: none;
    }

    .navbar__buttons-menu_title {
        display: none;
    }

    .navbar__buttons {
        gap: 20px;
    }
}

@media (max-width: 744px) {
    .navbar__contact-phone,
    .navbar__logo-stick,
    .navbar__contact,
    .navbar__logo-option {
        display: none;
    }

    .navbar__buttons-business,
    .navbar__buttons-menu {
        padding: 10px 20px;
    }
}
