.about-us__hero {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/images/AboutUS/aboutUs-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
