.valuation {
  padding: 150px 120px 170px 120px;
}

.valuation__heading {
  color: #4f5359;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 160px;
}

.valuation-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.reversed-row {
  flex-direction: row-reverse;
}

.valuation__box {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}

.valuation__box img {
  width: 100%;
  height: 100%;
}

.valuation__info {
  width: 50%;
  background-image: url(../../../assets/images/valuation-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 40px 130px 40px 40px;
}

.valuation__info-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.valuation__info-heading {
  color: #fff;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 161.4%; /* 74.244px */
  text-transform: uppercase;
}

.valuation__info-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
}
