.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/contact-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__contact {
  width: 785px;
  position: absolute;
  top: 200px;
  left: 120px;
}

.contact__title {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 63px */
  margin-bottom: 50px;
}

.contact__information-select {
  max-width: 250px;
  margin-bottom: 60px;
}

.visibility {
  opacity: 1;
}

.hero__contact-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero__contact-box {
  margin-bottom: 42px;
}

.hero__contact-phone {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 39px */
}

.hero__contact-name {
  color: #e6e7e8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.hero__contact-cooperation {
  width: 100%;
  border: none;
  border-radius: 99px;
  background: #006c41;
  padding: 18px 28px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.1s;
}

.hero__contact-cooperation:hover {
  background-color: #fff;

  span {
    color: #006c41;
  }

  .hero__cooperation-icon path {
    stroke: #006c41;
  }
}

.hero__contact-cooperation span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.hero__cooperation-icon {
  width: 25px;
  height: 25px;
}

.hero__contact-email {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}

.rotate {
  transform: rotate(180deg);
}
