.advantages {
  position: relative;
  padding: 0 120px;
  margin-bottom: 100px;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.advantages__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.advantages__heading-title {
  color: #4f5359;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantages__heading-navigation {
  display: flex;
  gap: 30px;
}

.advantages__heading-navigation img {
  padding: 20px;
  border: 2px solid #e7e5ea;
  border-radius: 100px;
}

.advantages__heading-navigation img:nth-child(2) {
  transform: rotate(180deg);
}

.advantages__box {
  display: flex;
  justify-content: space-between;
}

.advantages__box-wrapper {
  width: 397px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.advantages__box-image {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.advantages__box-image:hover {
  transform: scale(1.1);
}

.advantages__box-title {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  left: 0;
}

.advantages__box-header {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
